@model IEnumerable<CommentViewModel>

@if (Model != null && Model.Any())
{
    @foreach (var comment in Model)
    {
        <partial name="_SingleComment.cshtml" model="comment" />
    }
}
else
{
    <p class="text-muted text-center p-3">لا توجد تعليقات. كن أول من يعلق!</p>
}