@model ForgetPassswordViewModel
@{
    ViewData["Title"] = "نسيت كلمة المرور";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="outer-background">
    <div class="login-container">
        <h2 class="login-title">نسيت كلمة المرور</h2>

        <form asp-action="SendEmail" class="login-form">
            <div asp-validation-summary="All" class="text-danger mb-2"></div>

            <div class="form-group">
                <label asp-for="Email">البريد الإلكتروني</label>
                <input asp-for="Email" class="form-control" placeholder="أدخل بريدك الإلكتروني" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <button type="submit" class="login-btn">إعادة تعيين كلمة المرور</button>

            <div class="register-text">
                <p>تذكرت كلمة المرور؟ <a asp-controller="Account" asp-action="Login">تسجيل الدخول</a></p>
            </div>
        </form>
    </div>
</div>

@section _ValidationScriptsPartial {
    <partial name="_ValidationScriptsPartial" />
}
@section AuthSection {
    <link rel="stylesheet" href="~/css/Login.css" />
    <partial name="AuthSection" />
}
