@model ResetPasswordViewModel
@{
    ViewData["Title"] = "إعادة تعيين كلمة المرور";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}



<div class="outer-background">
    <div class="login-container">
        <h2 class="login-title">إعادة تعيين كلمة المرور</h2>

        <div asp-validation-summary="All" class="text-danger mb-3"></div>

        <form asp-action="ResetPassword" class="login-form">
            <div class="form-group">
                <label asp-for="NewPassword">كلمة المرور الجديدة</label>
                <input asp-for="NewPassword" class="form-control" placeholder="أدخل كلمة مرور جديدة" required />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ComfirmNewPassword">تأكيد كلمة المرور</label>
                <input asp-for="ComfirmNewPassword" class="form-control" placeholder="أعد إدخال كلمة المرور" required />
                <span asp-validation-for="ComfirmNewPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="login-btn">تعيين كلمة المرور</button>

            <div class="options-row">
                <div class="remember-me">
                    <span>ليس لديك حساب؟</span>
                    <a asp-action="Register" style="color:#5c3317; font-weight:600; text-decoration:none;">سجّل الآن</a>
                </div>

                <div class="forgot-password">
                    <a asp-action="ForgetPassword">نسيت كلمة المرور؟</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section _ValidationScriptsPartial {
    <partial name="_ValidationScriptsPartial" />
}
@section AuthSection {
    <link rel="stylesheet" href="~/css/Login.css" />
}